*{
    background-color: rgb(255, 255, 255);
}
.cards{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}
.card{
    box-shadow:  0 0 3px rgba(0, 0, 0, 0.2);
}
.card_image{
    width: 100%;
    display: block;
}
.card_content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background-color: yellowgreen;
}
.card_content>p:first-of-type{
    margin: 0;
}
.card_content>p:last-of-type{
    margin-top: 0;
}
.card_info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(48, 49, 49);
    background-color: rgb(255, 255, 255);
    font-size: 0.8em;
    border-bottom: 2px solid rgb(134, 134, 134);
}
.card_info i{
    font-size: 0.9em;
    margin-right: 8px;
}
.card_link{
    color: turquoise;
    text-decoration: none;
}
.card_link:hover{
    color: turquoise;
    text-decoration: underline;
}
